
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

a.dropdown-toggle::after {
  display: none;
}

.comment-reply-container {
  display: none;
}
@media (max-width: 1025px) {
  .profile-edit {
    width: 200px;
  }
}
 @media (min-width: 1026px) {
   .profile-edit {
     width: 800px;
   }
 }

@media (min-width: 1025px) {
  #row {
    top: 200px;
    left: 700px;
  }
}

.side li a {
  text-decoration: none;
}


@media (max-width: 1023px) {
  #side-info {
    display: none;
  }
}
.fa-search {
  color: white;
}

@media (max-width: 1023px) {
  .fa-search {
    color: black;
  }
}


